<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-5">Welcome!</h1>


    <div [ngSwitch]="isAuthenticated()">
      <div class="alert" *ngSwitchCase="true">
        <span id="home-logged-message" class="lead" *ngIf="account">{{ account.login }}.</span>
      </div>

      <div class="alert " *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
      >, you can try the default accounts:<br/> <br/> Administrator (login="admin" and password="admin") <br/> User (login="user" and
          password="user").</span
      >
      </div>

      <div class="alert alert-warning" style="margin-top: 10%" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>


  </div>
</div>
